<header>
    <div id="header">
        <a class="nav-link" routerLink="/inicioProv">
            <img id="logo" src="assets/iconos/LOGO3.png" alt="logo"  height="25"></a>
    <div class="menu">
        <a class="nav-link" routerLink="/chat">QUIÉNES SOMOS </a>
        <a class="nav-link" routerLink="/chat">NUESTROS CLIENTES </a>
        <a class="nav-link" routerLink="/registroProv">TRABAJA CON NOSOTROS </a>
        <a class="nav-link" routerLink="/chat">CONTÁCTANOS </a>
    </div>
</div>

</header>

<div class="img-bg" >
    <p>prov-web works!</p>

</div>


