<div class="menu">
    <img id="logo" src="assets/iconos/LOGO3.png" alt="logo" >
  <a class="nav-link" routerLink="/inicioProv">QUIÉNES SOMOS </a>
  <a class="nav-link" routerLink="/inicioProv">NUESTROS CLIENTES </a>
  <a class="nav-link" routerLink="/registroProv">TRABAJA CON NOSOTROS </a>
  <a class="nav-link" routerLink="/inicioProv">CONTÁCTANOS </a>
</div>


<div>
    <img class="img-bg" src="assets/images/mockup.png" alt="background">
    <div class="imgs">
        <img id="logo2" src="assets/iconos/logo.png" alt="logo">
        <span>Aplicación móvil para servicios de transporte</span>
        <div class="apps">
            <img  id="logo-app" src="assets/iconos/app_store.png" alt="App Store">
            <img  id="logo-app" src="assets/iconos/google_play.png" alt="Google Play">
        </div>
    </div>
</div>