<mat-card >
    <mat-card-header id="header-card">
        <mat-card-title >Detalle servicio</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <div id="body-content">
            <p><strong>Inicio: </strong>inicio</p>
            <p><strong>Fin: </strong>fin</p>
            <p><strong>Hora: </strong>00:00</p>
            <p><strong>Método de Pago: </strong>metodoPago</p>
            <p><strong>Valor: </strong> $valor</p>
          </div>
    </mat-card-content>
    <mat-card-actions id="buttons-content">
        <button class="btn">OK</button>
    </mat-card-actions>
</mat-card>


