<div class=border>
    <div id="header-card">
        <h3 mat-dialog-title >Detalle servicio</h3>
    </div>
    
    <mat-dialog-content>
        <div id="body-content">
            <p><strong>Proveedor: </strong>{{email}}</p>
            <p><strong>Inicio: </strong>{{inicio}}</p>
            <p><strong>Fin: </strong>{{fin}}</p>
            <p><strong>Hora: </strong>{{hora}}</p>
            <p><strong>Método de Pago: </strong>{{metodoPago}}</p>
            <p><strong>Valor: </strong>${{precio}}</p>
          </div>
        </mat-dialog-content>
    <mat-dialog-actions id="buttons-content">
        <button class="btn" (click)="closeDialog() ">OK</button>
    </mat-dialog-actions>


</div>

