<h2>Información de la tarifa</h2>
<form [formGroup]="firstFormGroup" (ngSubmit)="edit($event)">
    <div class="container">
        <h5>Nombre</h5>
         <input  type="text" formControlName="nameFare" >
    </div>

    <div class="container">
        <h5>Servicio</h5>
        <mat-form-field appearance="fill">
            <mat-select formControlName="idTypeServiceFare">
                <mat-option *ngFor="let servicio of servicios"  value={{servicio.idTypeService}}> {{servicio.nameTypeService}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="container">
        <h5>Precio/KM</h5>
        <div class="row">
            <input type="number" formControlName="minFare"/>
            <p>km - </p>
            <input type="number" formControlName="maxFare"/>
            <p>km $</p>
            <input type="number" formControlName="priceFare"/>
        </div>
    </div>
        
    <div class="row">
        <div>
            <button [mat-dialog-close]="true">Cancerlar</button>
        </div>
        <div>
            <button [mat-dialog-close]="true" [disabled]="!firstFormGroup.valid" type="submit">Guardar</button>
        </div>
    </div>
</form>
