<app-menu></app-menu>

<div class="page-content">
    
    <div class="container padnav">
         <div>
            <!--mapa
            [iconUrl]="src/assets/iconos/camionetaicon2.png"
            -->
      
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12" [mapTypeControl]="true">
              <agm-marker
              [iconUrl]="iconMap.iconUrl"
              *ngFor="let usuario of usuarios"
              (markerClick)="openDialogServicio(usuario)"
              [latitude]="usuario.lat"
              [longitude]="usuario.lng"
              [label]="usuario.nombre"
              >
            </agm-marker>
            </agm-map>
      
          </div><!--sm-8-->
      
         
        </div>
      
</div>