<app-menu></app-menu>

<div class="page-content">
    
    <div class="container padnav">
         <div>
            <!--mapa-->
      
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="10" [mapTypeControl]="true">
              <agm-marker
              *ngFor="let usuario of usuarios"
              [latitude]="usuario.lat"
              [longitude]="usuario.lng"
              [label]="usuario.nombre">
            </agm-marker>
            </agm-map>
      
          </div><!--sm-8-->
      
         
        </div>
      
</div>