*{
    font-family: sans-serif;
}
.menu{
    display: flex;
    justify-content: flex-end;
    margin-right: 5em;
    margin-top: 2em;

    
}
#logo{
    height: 4em;    
    display: inline;
    position: absolute;
    left: 3%;
}
.nav-link{
    color:black;
}
.img-bg{
    background-image: url("../../../assets/images/fondo_web-12.png");
    background-size: cover;
    height: 40rem;
    width: 100%;
    position: absolute;
    top: 0;

    
}

#title{
    color:#3a90c4;
    font-weight: bold;
    margin-top: 2em;
    margin-left: 3em;
    padding-top: 1em;
}
mat-horizontal-stepper{
    background: transparent;
    width: 90%;
    margin-left: 5em;
}

mat-form-field.mat-form-field {
    font-size: 8px;
}

mat-form-field .mat-select {
    font-size: 12px;
}

form{
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-gap: 20px;
}

form div div{
    grid-column: 1 / 3;
}

.derecha{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.termycond{
    grid-column: 3 / 3;
}

.btnAtras{
    position: absolute;
    left:    0;
    bottom:   10;
}
.btnReg{
    background-color: #E5242F;
    color: white;
    text-align: center;
    position: relative;
    top: 85%;  
   margin-left: 10%;

}

.btnReg:disabled{
    color: ghostwhite;
}
.btnSgte{
    position: absolute;
    right:    0;
    bottom:   10;
}

h5{
    margin-bottom:2px;
    margin-left: 8px;
    color: #87868A;
    font-weight:500;
}

input{
    font-size: 12px;
}

.getFile{
    background-color: #f5f5f5;
}