<div  class="page-content">
    <h1>USUARUIOS</h1>

    <div class="input-group md-form form-sm form-2 pl-0">
        <input class="form-control my-0 py-1 red-border" type="text" name="filtroUsuario" placeholder="Buscar" [(ngModel)]="filtroUsuario">
        <div class="input-group-append">
          <span class="input-group-text red lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
              aria-hidden="true"></i></span>
        </div>
    </div>

    <table>
        <tr>
            <th>Usuario</th>
            <th>Estado</th>
            <th>Habilitar/Inhabilitar</th>
        </tr>
        <tr *ngFor="let proveedor of proveedores | filtro:filtroUsuario">
            <td>{{proveedor.idDriver}}</td>
            <td>{{proveedor.stateDriver}}</td>
            <td><mat-slide-toggle (change)="cambiar(proveedor.idDriver)" [color]='primary'></mat-slide-toggle></td>
        </tr>
    </table>
</div>