*{
    font-family: sans-serif;
}




div h1 {
    font-weight: bold;
    color:#E5242F;
    letter-spacing: -0.2px;
    font-size: 28px;
    margin-left: 12px;
    font-weight: 580;
}

table{
    margin-top: 32px;
    margin-left: 50px;
    width: 80%;
    text-align: center;
}

table tr{
    height: 50px;
}


table tr th{
    background-color: #D8D9DD;
    font-weight: bold;
    letter-spacing: 0.4px;
}

table tr td{
    border-bottom: 1px solid black;
}

input{
    background-color: #D8D9DD;
    border-radius: 5px;
}

.input-group{
    width: 25%;
    left: 700px;
}

.input-img {
    position:absolute;
    bottom:10px;
    right:15px;
    width:20px;
    height:20px;
    margin-right: 5%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #87868A;
    opacity: 1; /* Firefox */
    font-size: 12px;
}
