.img-bg{
    background-image: url("../../../assets/images/TRANSPORTER_ADMINISTRADOR-02.png");
    background-size: cover;
}

.row{
    margin-top: 50px;
    text-align: center;
}


.card{
    width: 500px;
}

button{
    background-color: #E5242F;
    color:white;
}

button:hover{
    background-color: #E5242F;

}

input{
    border-bottom: 1px solid black;
}