
<div *ngIf="!isSignedIn">
    <div class="row">
        <div class="mx-auto">
            <div class="card">
                <img src="assets/iconos/LOGO3.png" width="450px" alt="logo"/>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Correo"  #emailSignup />
                        </div>
                        <div class="form-group">
                            <input type="password"  id="password" class="form-control"  placeholder="Contraseña"  showHideInput #passwordSignup/> 
                            <i matSuffix
                            class="material-icons"
                            showHideTrigger="password"
                            [showHideStatus]="{ materialIcon: true, id: 'password' }"></i>
                        </div>
                        <button class="btn btn-block" (click)="onSignin(emailSignup.value,passwordSignup.value)">Iniciar sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div *ngIf="isSignedIn" >
    <div class="vertical-nav" id="sidebar">
        <div class="py-4 px-3" id="informationAdmin">
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
                <h4 >Correo</h4>
                <p class="font-weight-light mb-0">Nombre Admin</p>
            </div>
        </div>
        <div id="menu">
            <app-menu></app-menu>
        </div>
    </div>


<div class="page-content" id="content">
    <div id="header">
            <a class="nav-link" routerLink="/"><img id="logo" src="assets/iconos/logo.png" alt="logo" width="220" height="25"></a>
            <a class="nav-link" routerLink="/chat">
                <img class="img-chat" src="./assets/iconos/chat_activo.png" >
            </a>
            <button class="logout"  id="cerrar"(click)="logout()">Cerrar sesión</button>

    </div>

    

    <router-outlet></router-outlet>
</div>
