.vertical-nav {
    min-width: 15rem;
    width: 15rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    background-color: #EDEEF0;

  }

.page-content {
    width: calc(100% - 17rem);
    margin-left: 15rem;
    transition: all 0.4s;
  }

#informationAdmin{
    background-color:  #E5242F;
    color:white;
    text-align: center;
}

#header{
    background: linear-gradient(-90deg,#20478B ,#2487C9);
    width: calc(100%-15rem);
    height: 6rem;
    position: relative;
}

#logo{
    margin-top: 30px;
    margin-left: 25px;
}


.img-chat{
    height: 1.5em;
    position: absolute;
    right:10em;
    top: 3em;

}


.login{
    margin-top: 100px;
    margin-left: 32%;
    text-align: center;
    width: 500px;
}

.form-group{
    margin-top: 40px;
}

.form-group  input{
    border-radius: 0px;
    border-bottom-color: #60605F;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    width: 400px;
    margin: 0 auto;
}


form button{
    margin-top: 70px;
    text-transform: uppercase;
    background-color: #E5242F;
    color:white;
    height: 58px;
    border-radius: 0px;
    font-family: sans-serif;  

}

.logout{
    background-color: transparent;
    border: none;
    color:white;
    position: absolute;
    right:2em;
    top: 3em;
    font-size: 14px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #87868A;
    opacity: 1; /* Firefox */
    font-size: 14px;
  }