.vertical-nav {
    min-width: 15rem;
    width: 15rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    background-color: #EDEEF0;

  }

.page-content {
    width: calc(100% - 17rem);
    margin-left: 15rem;
    transition: all 0.4s;
  }

#informationAdmin{
    text-align: center;

} 

#informationAdmin{
    background-color:  #E5242F;
    color:white;
}

#header{
    background: linear-gradient(-90deg,#20478B ,#2487C9);
    width: calc(100%-15rem);
    height: 6rem;
    position: relative;
}

#logo{
    margin-top: 30px;
    margin-left: 25px;
}

.img-chat{
    height: 1.5em;
    position: absolute;
    right:10em;
    top: 3em;

}


.row{
    margin:80px;
    text-align: center;
}

.logout{
    background-color: transparent;
    border: none;
    color:white;
    position: absolute;
    right:2em;
    top: 3em;

}
/*
button{
    background-color: #E5242F;
    color:white;
}

button:hover{
    background-color: #E5242F;
}




#cerrar{
    margin-left: 650px;
    letter-spacing: 2px;
    background-color: Transparent;
    border: none;
}*/

