<div  class="page-content">

    <h1>EMPRESA</h1>

    <mat-tab-group dynamicHeight class="empresa">
        <mat-tab label="POLÍTICAS"> 
            <button (click)="editarPolitica()">Editar</button>
            <div class="politicas">
                <textarea matInput [(ngModel)]="politica.descriptionPolice" ></textarea>
            </div>
        </mat-tab>

        <mat-tab label="SERVICIOS">
            <form>
                <h5>INFORMACÓN DE LOS SERVICIOS</h5>
                <div class="input-group md-form form-sm form-2 pl-0">
                    <a (click)="openFormServicio()"><img src="assets/iconos/agregar.png" alt="agregar"  width="35" height="35"></a>
                    <input class="form-control my-0 py-1 red-border search" type="text"  name="filtroUsuario" placeholder="Buscar">
                    <img class="input-img" src="./assets/iconos/buscar.png">
                </div>
            </form>
        </mat-tab>
        
        <mat-tab label="TARTIFAS">
            <form>
                <h5>INFORMACÓN DE LOS SERVICIOS</h5>
                <div class="input-group md-form form-sm form-2 pl-0">
                    <a (click)="openFormTarifa()"><img src="assets/iconos/agregar.png" alt="agregar"  width="35" height="35"></a>
                    <input class="form-control my-0 py-1 red-border search" type="text"  name="filtroUsuario" placeholder="Buscar">
                    <img class="input-img" src="./assets/iconos/buscar.png">
                </div>
            </form>   
        </mat-tab>
    </mat-tab-group>

</div>